.banner-troll {
    background: url("../images/troll/troll-banner-1-design-illustrator-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-marysol {
    background: url("../images/marysol/marysol-banner-1-design-illustrator-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-torrebaro {
    background: url("../images/torrebaro/torre-baro-banner-1-design-illustrator-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-infografias {
    background: url("../images/infografias/infografias-banner-1-design-illustrator-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-missrobin {
    background: url("../images/missrobin/miss-robi-illustration-banner-2.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-voyelles {
    background: url("../images/voyelles/voyelles-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-serconews {
    background: url("../images/serconews/newsletters-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-sercoshop {
    background: url("../images/sercoshop/webserco-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-miniguias {
    background: url("../images/miniguias/miniguias-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-gueisha {
    background: url("../images/gueisha/gueisha-banner-sara-palma-ilustracion-diseno.jpg") 60% 40%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-richardserra {
    background: url("../images/richard-serra-verbs/richard-serra-verbs-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-mrjeckyll {
    background: url("../images/jeckyll/jeckyll-hide-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-parche {
    background: url("../images/parche/retrato-parche-banner-2-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-pritiriti {
    background: url("../images/rata/rat-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-sombrasconcept {
    background: url("../images/sombra-conceptart/concept-sombra-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-sombrasoleos {
    background: url("../images/sombra/sombra-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-apocalipsis {
    background: url("../images/apocalipsis/apocalipsis-banner-design-illustration-sara-palma.jpg") 35% 65%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-somatents-relatos {
    background: url("../images/somatents-relats/somatents-relats-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-somatents-varios {
    background: url("../images/somatents-otros/somatents-otros-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-somatents-autores {
    background: url("../images/somatents-autores/somatents-autors-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-lletrapetita {
    background: url("../images/lletrapetita/lletrapetita-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-ufec {
    background: url("../images/ufec/ufec-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-walimai {
    background: url("../images/walimai/walimai-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}

.banner-antwill {
    background: url("../images/antwill/antwill-banner-design-illustration-sara-palma.jpg") 47% 53%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}
.banner-sercoblogger {
    background: url("../images/serco-blogger/sercoblogger-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}
.banner-sercolanding {
    background: url("../images/serco-landingpage/sercolanding-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}
.banner-sercorelax {
    background: url("../images/serco-relajate/sercorelax-banner-design-illustration-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
    margin-left: -15px;
    margin-right: -15px;
   
}