body { padding-top: 70px; background-color: #99CDA6}
    
h1 { text-align: center; 
    color: #ffffff;
    text-transform: uppercase; 
}

h2 { text-align: center; 
    color: #ffffff;
    font-size: 145%;
}

/* CONTACT style*/

.h1-contact{
    text-align: center; 
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 40px;
}
@media screen and (max-width: 600px) {
        .h1-contact {
    font-size:35px;
                    }
}
.h2-contact{
    padding-top: 1px;
    color: #78AE79;
    text-transform: uppercase;
    background: #ffffff;
    height: 40px;
}

.form-group-1{
position: relative;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
.form-group-1:after {
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 45%;

}

.form-contact{
    margin-top:80px;
}
.form-control {
    color: #B77EB5;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

/*.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/

.btn-default {
    color: #ffffff;
    background-color: #78AE79;
    border-color: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
color: #ffffff;
background-color: #B77EB5;
border-color: #adadad;
}
.btn {
    width: 100%;
    margin-bottom: 50px;
    border: none;
    border-radius: 0px;
    
}
/*contact style end*/

/*PROFILE style*/
.h1-profile{
    text-align: center; 
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 20px;
}
@media screen and (max-width: 400px) {
        .h1-profile {
    font-size:40px;
                    }
}
.profile .h1-profile{
    color: #ffffff;
    margin-top: 8%;
}
.h2-profile{
    font-size: 40px;
    padding-top: 3%;
    text-align: center;
}
@media screen and (max-width: 1000px) {
        .h2-profile {
    font-size:35px;
    padding-top: 0%;
    text-align: center;
                    }
}

.profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profile-picture .img-responsive{
    border-radius: 100%;
}

.profile-text{
    background: #ffffff;
    display:block;
    margin-top: 5%;
    padding: 3%;
    color: #464e46;
    margin-bottom: 20px;
}

.read-more{
    text-align:center;
    text-transform: uppercase;
    color:#ffffff;
    background-color: #78AE79;
    padding-top: 7px;;
    padding-bottom: 1px;
    margin-bottom: 90px;
}
/*profile style end*/

/* PORTFOLIO MAIN style*/
.h2-portfolio-project-class{
    text-align: left;
    padding-top: 10%;
    margin-bottom: -10px;
}

.choose-project-picture{
    background: #78AE79;
    height: 230px;
}

.choose-category {
    padding-top: 1px;
    color: #78AE79;
    text-transform: uppercase;
    background: #ffffff;
    height: 40px;
}

.category-list ul {
    text-align: center;
    color: #ffffff;
    list-style: none;
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
}
.category-list ul li {
    display: inline;
    padding: .2em 1em;
}
.category-list ul li a{
    color: #ffffff;
    text-decoration: none;
}
.category-list ul li a:hover{
    color: #B77EB5;
}
.project-minimage:hover{
    color: #000;
}
.thumbnail{
border-radius: 0%; 
}
/* portfolio main style end*/

/* PORTFOLIO ITEM */
.h1-portfolio { 
    text-align: center; 
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.portfolio-main-picture {
    background: url("images/troll/troll-banner-1-design-illustrator-sara-palma.jpg") 50% 50%;
    height: 390px;
    display: block;
    margin-bottom: 10px;
    margin-top:25px;
   
}

.content-card{
    margin-top: 0px;
    height: 350px;
    padding: 0px;
}

.content-card .h2-project-title {
    text-align: left;
    font-size: 40px;
    padding-top: 0px;
}
@media screen and (max-width: 1200px) {
        .content-card .h2-project-title {
    font-size:35px;
    }
}
@media screen and (max-width: 430px) {
        .content-card .h2-project-title {
    font-size:25px;
    }
}

.ul-caption {
    color: #ffffff;
    list-style-type: none;
    font-style: italic;
    font-size: 19px;
    padding-left: 0px;
}
/* ul-enlaces para el estilo de la sección "enlaces" de la ficha del proyecto*/
.ul-enlaces {
    color: #ffffff;
    list-style-type: none;
    padding-left: 0px;
}
@media screen and (max-width: 650px) {
        .ul-enlaces {
    font-size:12px;
    }
}
.ul-enlaces a{
    color: #ffffff;
    list-style-type: none;
    padding-left: 0px;
    text-decoration: none;
}
.ul-enlaces a:hover{
    color: #B77EB5;
}
.ul-share-project{
    text-align: right;
    text-decoration-line: none;
    color: #B77EB5;
    list-style: none;
    list-style-type: none;

}
.ul-share-project li {
    display: inline;
    padding: .2em 1em;
}
.ul-share-project li a{
    color: #B77EB5;
    text-decoration: none;
}
.ul-share-project li a:hover{
    color: #69986a;
}

.portfolio-content-text{
    padding-top: 90px;
    color: #637167;  
}
@media screen and (max-width: 650px) {
        .portfolio-content-text {
    font-size:12px;
    }
}
/*end-project-cards-style*/

/*home style*/
@media screen and (max-width: 430px) {
        .h1-portfolio {
    font-size:40px;
    }
}

@media screen and (max-width: 370px) {
        h2 {
    font-size:110%;
    }
}

hr{
    height: 3px;
    background-color: #ffffff
}

.title-1{
    margin-top: 80px;
    font-size: 120px;
}

@media screen and (max-width: 400px) {
        .title-1 {
    font-size:80px;
    }
}


.home-icons-ul {
    text-align: center;
    list-style: none;
    list-style-type: none;
    margin-top: 20px;
    padding: 0;

}
.home-icons-ul li {
    font-size: 130px;
    display: inline;
    padding: 9px;
    color: #ffffff;
}
@media screen and (max-width: 1600px) {
        .home-icons-ul li {
    font-size:100px;
    }
}
@media screen and (max-width: 1260px) {
        .home-icons-ul li {
    font-size:80px;
    }
}
@media screen and (max-width: 357px) {
        .home-icons-ul li {
    font-size:50px;
    }
}

.home-icons-ul li a{
    color: #ffffff;
    text-decoration: none;
}
.home-icons-ul li a:hover{
    color: #B77EB5;
}


/*end home style*/

/*navbar*/
.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    text-decoration: none;
    color: #99CDA6;
    font-size: 17px; 
}

.navbar .nav > li > a:hover {
    color: #B77EB5;
}

.navbar-default .navbar-brand {
    color: #99CDA6;
}

.navbar-default .navbar-brand:hover {
    color: #B77EB5;
}

.img-responsive {
    margin: 0 auto;
    padding-bottom: 20px;

}
