body { padding-top: 70px; background-color: #99CDA6}
    
h1 { text-align: center; 
    color: #ffffff;
    text-transform: uppercase; 
}

h2 { text-align: center; 
    color: #ffffff;
    font-size: 145%;
}

/* portfolio main style*/
.h2-portfolio-project-class{
    text-align: left;
    padding-top: 10%;
    margin-bottom: -10px;
}

.choose-project-picture{
    background: #ffffff;
    height: 230px;
}

.choose-category {
    padding-top: 1px;
    color: #99CDA6;
    text-transform: uppercase;
    background: #ffffff;
    height: 40px;
}

.category-list ul {
    text-align: center;
    color: #ffffff;
    list-style: none;
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
}
.category-list ul li {
    display: inline;
    padding: .2em 1em;
}
.category-list ul li a{
    color: #ffffff;
    text-decoration: none;
}
.category-list ul li a:hover{
    color: #B77EB5;
}
.project-minimage:hover{
    color: #000;
}
.thumbnail{
border-radius: 0%; 
}
/* portfolio main style end*/

/* ficha portfolio */
.content-card{
    height: 350px;

}

.content-card .h2-project-title {
    text-align: left;
    font-size: 40px;
    padding-top: 0px;
}

.portfolio-main-picture {
    background: url("images/portfolio-item-ficha-main-picture.jpg") 50% 50%;
    height: 350px;
    display: block;
   
}

.h1-portfolio { 
    text-align: center; 
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.portfolio-content-text{
    padding-top: 60px;
    color: #637167;
    
}

.ul-caption {
    color: #ffffff;
    list-style-type: none;
    font-style: italic;
    font-size: 19px;
    padding-left: 0px;
}
/* ul-enlaces para el estilo de la sección "enlaces" de la ficha del proyecto*/
.ul-enlaces {
    color: #ffffff;
    list-style-type: none;
    padding-left: 0px;
}

.bottom-picture-portfolio{
    background: #ffffff;
    height: 200px;
    margin-bottom: 50px;
}
/*end-project-cards-style*/

/*home style*/
@media screen and (max-width: 430px) {
        .h1-portfolio {
    font-size:40px;
    }
}




@media screen and (max-width: 370px) {
        h2 {
    font-size:110%;
    }
}

hr{
    height: 3px;
    background-color: #ffffff
}

.title-1{
    margin-top: 80px;
    font-size: 120px;
}

@media screen and (max-width: 370px) {
        .title-1 {
    font-size:80px;
    }
}
/*end home style*/

/*navbar*/
.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    text-decoration: none;
    color: #99CDA6;
    font-size: 17px; 
}

.navbar .nav > li > a:hover {
    color: #B77EB5;
}

.navbar-default .navbar-brand {
    color: #99CDA6;
}

.navbar-default .navbar-brand:hover {
    color: #B77EB5;
}

.img-responsive {
    margin: 0 auto;
    padding-bottom: 20px;

}
